[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tox = "*"
coverage = "*"
pytest = "*"
pytest-cov = "*"
watchdog = "*"
flake8 = "*"
"punch.py" = "*"
Sphinx = "*"
pytest-flask = "*"
Flask = "*"
SQLAlchemy = "*"
pytest-docker = "*"
docker-compose = "*"
PyYAML = "*"
SQLAlchemy-Utils = "*"
psycopg2-binary = "*"
pymongo = "*"

[requires]
python_version = "3.7"
